#algos {
    padding: 2rem 0;
    background-color: $secondary-color-100;
    color: $primary-color-100;

    .section-heading {
        h2 {
            border: 1px solid $primary-color-200;

            &::after {
                content: 'Algorithms';
                position: absolute;
                border: 1px solid $primary-color-200;
                color: $primary-color-200;
                background-color: $secondary-color-100;
            }
        }
    }

    h3 {
        font-size: 30px;
        color: $primary-color-200;
        margin-bottom: 24px;
        text-align: center;
    }

    .array-container {
        width: fit-content;
    }

    .item {
        display: inline-block;
        margin: 0 2px;
        background-color: $primary-color-100;
        width: 14px;
        height: 20px;
    }

    .i1 {
        height: 25px;
    }

    .i2 {
        height: 30px;
    }

    .i3 {
        height: 35px;
    }

    .i4 {
        height: 40px;
    }

    .i5 {
        height: 45px;
    }

    .i6 {
        height: 50px;
    }

    .i7 {
        height: 55px;
    }

    .i8 {
        height: 60px;
    }

    .i9 {
        height: 65px;
    }

    .i10 {
        height: 70px;
    }

    .check-swap {
        font-weight: bold;
        color: #fff;
        background-color: rgb(196, 188, 38);
        text-decoration: underline;
    }

    button {
        color: #fff;
        margin-top: 32px;
        background-color: $primary-color-200;
        border: none;
        padding: 6px 20px;
        border-radius: 2px;

        &:hover {
            cursor: pointer;
            background-color: $primary-color-100;
        }
    }
    
    .algorithms-container {
        margin-top: 20px;
    }
    .algorithms-container .row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 45px;
        justify-content: space-around;
    }
    .algorithms-container .algo {
        border: 1px solid $primary-color-100;
        padding: 50px;
    }

    // Mobile
    @media (max-width: 768px) {
        .algorithms-container .row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 0;
        }
        .algorithms-container .algo {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 45px;
        }
    }
}