#algos {
    padding: 2rem 0;
    background-color: $secondary-color-100;
    color: $primary-color-100;

    .section-heading {
        h2 {
            border: 1px solid $primary-color-200;

            &::after {
                content: 'Algorithms';
                position: absolute;
                border: 1px solid $primary-color-200;
                color: $primary-color-200;
                background-color: $secondary-color-100;
            }
        }
    }

    h3 {
        font-size: 30px;
        color: $primary-color-200;
        margin-bottom: 16px;
    }

    .array-container {
        width: fit-content;
    }

    .item {
        border: 1px solid $primary-color-100;
        color: $primary-color-100;
        padding: 5px 10px;
        font-size: 18px;
    }

    .check-swap {
        font-weight: bold;
        color: #fff;
        background-color: $primary-color-100;
        text-decoration: underline;
    }

    button {
        color: #fff;
        margin-top: 24px;
        margin-right: 10px;
        background-color: $primary-color-200;
        border: none;
        padding: 4px 14px;
        border-radius: 4px;

        &:hover {
            cursor: pointer;
            background-color: $primary-color-100;
        }
    }
}