#introduction {
  background: linear-gradient($primary-color-100, $primary-color-200);
  padding-bottom: 2rem;

  .top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5rem;
    padding: 2.5rem;
    padding-top: 0;

    .heading-container {
      h1 {
        padding-bottom: .2rem;
        font-size: 3.5rem;
      }

      p {
        font-size: 1.2rem;
        font-weight: 300;
        color: rgba(255, 255, 255, .9);
      }
    }

    .cube {
      width: 300px;
      height: 300px;
      position: relative;
      top: 15px;
      right: 100px;
      background-color: rgba(255, 255, 255, 0);
    }
  }

  .tools-heading {
    font-size: 2rem;
    margin-bottom: .5rem;
    font-weight: 400;
    text-align: center;
  }

  .tools {
    background-color: $secondary-color-100;
    width: 100%;
    padding: 1.5rem;

    img {
      min-width: 80px;
      max-width: 150px;
      height: 80px;
      margin: 0 1.5rem;
    }
  }
}